.price{
    padding-top: 50px;
    text-align: center;

    &__wrapper{
        text-align: left;
        padding: 0 48px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto))/repeat(2, 366px);
        grid-auto-rows: minmax(45px, auto);
        row-gap:15px;
        justify-content: space-between;
    }

    &__item{
        padding-left: 25px;
        display: grid;
        grid-template: repeat(2, minmax(18px auto)) / repeat (2, auto);
        row-gap: 5px;
        justify-content: space-between;
        position: relative;
        &:before{
            content: '';
            width: 15px;
            height: 15px;
            background-color: $main-color;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 3px;
        }
    }

    &__value{
        justify-self: end;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }

    &__descr{
        font-size: 12px;
        line-height: 18px;
        grid-column:1/3;
    }

}