.title{
    /*те, которые 36 пикс*/
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-top: 6px; 
    margin-bottom: 0;
}

.main-title{
    font-size: 48px;
    line-height: 60px;
    width: 532px;
    margin-top: 9px;
}

.subtitle{
    font-weight: 700;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    @include before;
    position: relative; 
    z-index: 1;
    &_center{
        padding-left: 0;
        &:before{
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }   
}

.tiny-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
}